# Parameter PHP_VERSION accepted values: 7.4 (74), 7.2 (72)
PHP_VERSION: 72

CONTAINER_NAME: default

INSTALL_PHP_FPM: true

INSTALL_NGINX: true
NGINX_ROOT_DIR: /var/www

INSTALL_MYSQL: true
MYSQL_VERSION: latest
MYSQL_TIMEZONE: UTC